.weatherContainer {
    position:absolute;
    border-radius: 4px;
    box-shadow: 3px 3px 15px 5px #22222298;
    margin: 1% 0 0 0;
    background-color: rgb(31, 117, 71);
    padding: 0;
}
.weatherInfo {
    background-size: cover;
    background-position: center;
    border-radius: 4px;
    padding: 1% 0 1% 0;
}

.weatherInfo h4 {/* 
    background-color: tomato; */
    text-align: center;
    margin-top: 3%;
}

.temp {/* 
    background-color: turquoise; */
    height: 30%;
    display: flex;
    justify-content: center;
}

.temp .number{/* 
    background-color: violet; */
    height: 100%;
    font-size: 90px;
    text-align: right;
}

.temp .wicon{/* 
    background-color: yellow; */
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.today {/* 
    background-color: tomato; */
    display: flex;
    justify-content: center;
}

.wdesc {
    text-align: center;
}

.wdetail {
    padding: 1%;
    text-align: center;
}

.borderRight {
    border-right: solid 1px white;
}

.loader-cont {
    width: 14%;
    margin: 2% auto 2% auto;
}