:root {
    --main-width: 95%;
}

.navbar{
    background-color: rgb(9, 44, 54);
    color:white;
}

.navbar-content{
    margin: 0 auto 0 auto;
    width: var(--main-width);
}

.logo{
    align-items: center;
    display: flex;
    font-size: 1.25rem;
}

.form-inline {
    display: flex;
    justify-content: flex-end;
}
.form-inline .form-control {
    background-color: rgb(9, 44, 54);
    border-color: turquoise;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    color: white;
    width: 75%
}

.form-inline .btn {
    background-color: turquoise;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/*---------- search results -----------*/

.searchResults {
    position: absolute;
    margin-right: auto;
    width: 100%;
    top: 40px;
    display: flex;
    justify-content: flex-end;
}

.results {
    color: rgb(4, 82, 82);
    background-color: #e9e9e9;
    text-align: left;
    z-index: 900;
    width: 77%;
}

.results p {
    color: black;
    padding: 1%;
}

.results p:hover {
    background-color: rgba(25, 44, 48, 0.61);
    color: white;
}

/*---------- Media Queries -------------*/

@media (min-width: 577px) {
    :root {
        --main-width: 70%;
    }
}